.logs {
	ul {
		list-style: none;
	}
	.content {
		background: #2b3551;
		width: 100%;
		height: calc(100vh - 165px);
		li {
			color: #ffffff;
			font-size: 16px;
			padding-top: 18px;
		}

	}
}