.reports {
  .reports-toolkit {
    display: flex;

    .screenshot {
      margin-left: auto;
    }
  }

  .ant-table-wrapper {
    background-color: #fff;
    margin-top: 20px;
  }
  // .ant-table-tbody td, .ant-table-tbody td div {
  //   overflow: hidden;
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  // }
}

.reports-review-modal {
  .ant-modal-body {
    padding: 25px;
    background: #030B1E;
    color: #ffffff;
  }
  .ant-modal-footer {
    background: #030B1E;
  }
  .ant-modal-close {
    color: #ffffff;
  }
  .modal-container{
    position: relative;
  }
  .modal-select {
    position: absolute;
    right: 30px;
    top: 10px;
  }
}