.reports {
  .reports-toolkit {
    display: flex;

    .screenshot {
      margin-left: auto;
    }
  }

  .ant-table-wrapper {
    background-color: #fff;
    margin-top: 20px;
  }
}

.reports-review-modal {
  .ant-modal-body {
    padding: 25px;
    background: #030B1E;
    color: #ffffff;
  }
  .ant-modal-footer {
    background: #030B1E;
  }
  .ant-modal-close {
    color: #ffffff;
  }
}